html {
  font-family: "Roboto Slab", Utopia, Georgia, "Theano Didot", serif;
 }
h1{
  font-weight: normal;
  text-align:center;
}
header {
  background-color: #ffffe6;
  color:#000066;
  right: 4px;
}
body {
background-color: #99c2b8;
color:#000066;
}
h2 {
  font-weight: normal;
  text-align:center;
  color: #ffffe6;
}
p {
  line-height: 1.35;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
em {
  background-color: #ffffe6;
  color: #587215;
  font-weight: bold;
  font-style: normal;
}
img {
  display: block;
  border: thick double #000066;
  width: 100%;
  box-sizing: border-box;
}
.caption {
  text-align: center;
  background-color: #ffffe6;
  color:#000066;
}
